.text{

    border: 2px double black;
    border-radius: 4px 10px;
    width: 500px;
    height: 500px;
}

.text:hover{
    box-shadow: 5px 10px black;
    transition:ease-in 500ms;
     display: block;    /* this is the oposite of display:none*/
}

 /* .text:hover p{  when we will do hover on text, p will be affected */
